h1 {
  font-weight: 700;
  margin: 10px;
  text-align: left;
}
h2 {
  font-weight: 200;
  margin: 10px;
  text-align: left;
  color: rgb(39, 39, 39);
}
h3 {
  font-weight: 100;
  margin: 10px;
  text-align: left;
  color: rgb(53, 53, 53);
}

hr {
  height: 1px;
  border: none;
  margin: 0 10px 0 10px;
  background-color: #000;
  color: red;
}

.consumo-container {
  width: 400px;
  max-width: 400px;
  min-width: 300px;
  margin: 20px;
  box-sizing: border-box;
  padding: 20px 20px 5px 20px;
  border: 4px solid rgb(109, 106, 160);
  border-radius: 10px;
  box-shadow: 1px 1px 15px #000;
  color: #000000;
  background-color: #d7d9f8;
}
.consumo-container h1 {
  text-align: left;
}

.botones-container {
  display: flex;
  justify-content: start;
  align-items: center;
}
.boton {
  background-color: rgb(46, 32, 126);
  padding: 10px;
  margin-right: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 200ms;
}

.secundario {
  background-color: rgb(110, 96, 189);
}

.boton:hover {
  background-color: rgb(138, 132, 223);
  color: rgb(18, 7, 48);
}

.secundario:hover {
  background-color: rgb(55, 6, 65);
  color: rgb(175, 175, 175);
}

.lista {
  max-width: auto;
  padding: 0;
  margin: 15px;
}
.item {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 15px 0;
}

.item-icono {
}

.item-texto {
  padding: 0 10px;
}

.modal {
  position: fixed;
  z-index: 200;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
  max-width: 500px;
  width: 80%;
  background-color: #cbb7ff;
  margin: auto;
  padding: 20px;
  height: auto;
  border: 2px solid #380ca8;
  border-radius: 10px 20px;
  position: relative;
}

.modal-content h1 {
  text-align: center;
}
.modal-content-notas {
  margin: 20px 0;
  max-height: 300px;
}
.boton-cerrar{
  position: absolute;
  opacity: 50%;
  top: 20px;
  right: 20px;
  transition: 100ms;
}
.boton-cerrar:hover{
  cursor: pointer;
  opacity: 100%;
}

.modal-content-notas p {
  border-radius: 20px 20px;
  padding: 20px;
  text-align: start;
  background-color: #9f83e756;
}
